/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Noto Sans TC', '微軟正黑體', 'Mohave', sans-serif; 
    box-sizing: border-box;   
}

ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*以上為CSS Reset設定*/



header{
    background-color: #c4c4c4;
    width: 100%;
    padding: 1rem;
}    

header h1{    
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

nav{
    background-color: #312f2f;
    margin: 0;
}

nav ul{
    display: flex;
    padding-left: 1rem;    
}

nav ul li a{
    display: flex; 
    color: #c4c4c4;
    font-size: 1.1rem;
    padding: 0.75rem 1rem;
    text-decoration: none;
}

nav ul li a:hover{    
    color: #c70e0e;   
    background-color: #ffff00;
    font-weight: bolder;
}

main{
    display: flex;
    margin-top: 10px;    
}

.left{    
    margin: 20px;    
}

.right{
    margin: 20px;   
}

/*agriculture.html*/
.main h2{    
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    margin-top: 3rem;
    border-bottom: 1px solid #333;
}

/*economy.html*/
.main h3{    
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 2.5rem;   
}
.source{
    padding: 2px;
    margin: 0;
    line-height: 1.2rem;
}
main.eco_top{
    margin-top: 0;
    padding-top: 0;
}
